*, body{
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
  height: 15vw;
  color: #FFF;
  background: radial-gradient(DeepSkyBlue, Black);
  text-align: center;
  text-shadow: 6px 6px #003366;
  line-height: 15vw;
  font-family: "Century Gothic";
  font-weight: bold;
  font-size: 200%;
  -webkit-text-stroke: 1px #333;
  -moz-text-stroke: 1px #333;
  overflow: hidden;
  z-index: 2;
}
a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: Georgia;
}

li{
  list-style: none;
}

li>a{
  line-height: 2em;
  padding: 0 0 0 1em;
}

nav {
  width: 100%;
  height: 2em;
  border: 1px solid grey;
  border-radius: 4px;
  background: #333;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav>a{
  line-height: 2em;
  padding: 0.5em 2em 0 2em;
  margin-bottom: 0;
}

ul{
  max-height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul li{
  height: 2em;
  background: #333;
}

ul>li:hover{
  background-color: #003366;
}
#checklabel{
  float: right;
  cursor: pointer; 
  position: relative;
  right: 15px;
  display: inline-block;
  padding: 15px 5px;
}

#checklabel:hover{
  background-color: #003366;
}
#checklabel > span{
  background: white;
  width: 15px;
  height: 2px;
  display: block;
  position: relative;
}

#checklabel > span:before{
  background: white;
  content: '';
  position: absolute;
  top: 5px;
  display: block;
  height: 100%;
  width: 100%;
}

#checklabel > span:after{
  background: white;
  content: '';
  position: absolute;
  top: -5px;
  display: block;
  height: 100%;
  width: 100%;
}

input{
  display: none;
}

input:checked ~ ul{
  max-height: 240px;
}


@media (min-width:50em){

ul{
  margin: 0;
  clear:none;
  float:right;
  max-height: none;
}

li{
  float:left;
  outline: 1px solid grey;
}

li > a{
  line-height: 2em;
  padding: 0.5em 2em 0 2em;
}

#checklabel{
  display: none;
}

}

/******************************************************Slider********************************/

#sec{
  margin-top: 0;
}

.block1{
  width: 100%;
  height: 25vw;
  background-image: url("https://www.w3schools.com/bootstrap/la.jpg"); 
  background-attachment: fixed;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
#x{
  height: 5vw;
  width: 5vw;
  border-radius: 5vw;
  background: yellow;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 10vw;
  opacity: 0.2;
  z-index: 1;
}

#y{
  height: 5vw;
  width: 5vw;
  border-radius: 5vw;
  background: yellow;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 10vw;
  z-index: 1;
  opacity: 0.2;
}


/*********************Parallax Div*************/

#parasection{
	width: 100%;
	height: 300px;
	background-color: gold;
	position: sticky;
	top: 2em;
	margin: 0;
	padding: 0;
}

#parasection>h3{
	text-align: center;
	line-height: 200px;
	font-family: "Century Gothic";
	-webkit-text-stroke: 1px #333;
    -moz-text-stroke: 1px #333;
	font-size: 150%;
}

#parasection>h4{
	text-align: center;
	font-family: "Century Gothic";
	-webkit-text-stroke: 1px #333;
    -moz-text-stroke: 1px #333;
	font-size: 100%;
}
/***************Footer**************/

#ft{
	width: 100%;
	height: 150px;
	border: 1px solid black;
    margin: 0;
	padding: 0;
	background-color: #003366;
	position: relative;
}

#ft>p{
	top: 150px;
	position: absolute;
	top: 130px;
	right: 10px;
}